{% load static %}

<!DOCTYPE html>
<html lang="en">
  <<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gbeke</title>
    <!-- Favicon img -->
    <link rel="icon" type="image/png" href="/static/portal/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/portal/assets/images/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/static/portal/assets/images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/portal/assets/images/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/static/portal/assets/images/favicons/site.webmanifest" />
  
    <link rel="stylesheet" href="/static/portal/assets/css/bootstrap.min.css" />
    <!-- All min css -->
    <link rel="stylesheet" href="/static/portal/assets/css/all.min.css" />
    <!-- Swiper bundle min css -->
    <link rel="stylesheet" href="/static/portal/assets/css/swiper-bundle.min.css" />
    <!-- Magnigic popup css -->
    <link rel="stylesheet" href="/static/portal/assets/css/magnific-popup.css" />
    <!-- Animate css -->
    <link rel="stylesheet" href="/static/portal/assets/css/animate.css" />
    <!-- Nice select css -->
    <link rel="stylesheet" href="/static/portal/assets/css/nice-select.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="/static/portal/assets/css/style.css" />
  </head>
  

  <body>
    <!-- Header area start here -->
    <div class="top__header pt-30 pb-30">
      <div class="container">
        <div class="top__wrapper">
          <a href="/" class="main__logo">
            <img
              style="border-radius: 40px"
              src="/static/portal/assets/images/logo/GBEKE Logo.png"
              alt="logo__image"
            />
          </a>
          <div class="search__wrp">
            <input placeholder="Search for" aria-label="Search" />
            <button><i class="fa-solid fa-search"></i></button>
          </div>
          <div class="account__wrap">
            <!-- <div class="account d-flex align-items-center">
              <div class="user__icon">
                <a href="#0">
                  <i class="fa-regular fa-user"></i>
                </a>
              </div>
              <a href="#0" class="acc__cont">
                <span> My Account </span>
              </a>
            </div> -->
            <div class="cart d-flex align-items-center">
              <span class="cart__icon">
                <i class="fa-regular fa-cart-shopping"></i>
              </span>
              <a href="#0" class="c__one">
                <span>₵{{ total_price }} </span>  <!-- Display total price -->
              </a>
              <span class="one"> {{ total_items }} </span>  <!-- Display total items -->
            </div>
            <div class="account d-flex align-items-center">
              <div class="user__icon">
                  <a href="#">
                      <i class="fa-regular fa-user"></i>
                  </a>
              </div>
              <a href="#" class="acc__cont">
                  {% if request.session.customer_first_name %}
                      <span class="welcome__text">Welcome, {{ request.session.customer_first_name }}</span>
                  {% else %}
                      <span class="account__text">My Account</span>
                  {% endif %}
              </a>
          </div>
          
          </div>
        </div>
      </div>
    </div>

    <header class="header-section">
      <div class="container">
        <div class="header-wrapper">
          <div class="header-bar d-lg-none">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="main-menu">
            <li>
              <a href="/">Home</a>
            </li>

            {% comment %}
            <li>
              <a href="/about/">About Us</a>
            </li>
            {% endcomment %}
            <li>
              <a href="#0">Pages <i class="fa-regular fa-angle-down"></i></a>
              <ul class="sub-menu">
                <li class="subtwohober">
                  <a href="/shop/"> Shop Now </a>
                </li>
               
                <li class="subtwohober">
                  <a href="/cart/"> Cart </a>
                </li>
                <li class="subtwohober">
                  <a href="/checkout/"> Checkout </a>
                </li>
                <li class="subtwohober">
                  <a href="/register/"> Sign Up </a>
                </li>
                <li class="subtwohober">
                  <a href="/login/"> Sign In </a>
                </li>
                {% comment %}
                <li class="subtwohober">
                  <a href="error/"> 404 Error </a>
                </li>
                {% endcomment %}
              </ul>
            </li>

            <li>
              <a href="/contact/">Contact Us</a>
            </li>
          </ul>
          <div class="shipping__item d-none d-sm-flex align-items-center">
            <div class="menu__right d-flex align-items-center">
              <!-- <div class="thumb">
                <img
                  src="/static/portal/assets/images/flag/picking.png"
                  alt="image"
                />
              </div> -->
              <!-- <div class="content">
                <p>Picking up?</p>
                <div class="items">
                  <select class="form__select p-0">
                    <option value="1">Select Store</option>
                    <option value="2">Store One</option>
                    <option value="3">Store Two</option>
                    <option value="3">Store Three</option>
                  </select>
                </div>
              </div> -->
            </div>
            <div class="menu__right d-flex align-items-center">
              <div class="thumb">
                <img
                  src="/static/portal/assets/images/flag/shipping.png"
                  alt="image"
                />
              </div>
              <div class="content">
                <p>
                  Free Shipping <br />
                  on order <strong>over ₵100</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Preloader area start -->
    <div class="loading">
      <span class="text-capitalize">L</span>
      <span>o</span>
      <span>a</span>
      <span>d</span>
      <span>i</span>
      <span>n</span>
      <span>g</span>
    </div>

    <div id="preloader"></div>
    <!-- Preloader area end -->

    <!-- Mouse cursor area start here -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end here -->
    {% block content %} {% endblock %}

    <!-- Footer area start here -->
    <!-- Footer area start here -->
    <footer
      class="footer-area bg-image"
      data-background="/static/portal/assets/images/footer/footer-bg.jpg"
    >
      <div class="container">
        <div class="footer__wrp pt-65 pb-65 bor-top bor-bottom">
          <div class="row g-4">
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-duration="1.1s"
              data-wow-delay=".1s"
            >
              <div class="footer__item">
                <h4 class="footer-title">Customer Service</h4>
                <ul>
                  {% comment %}
                  <li>
                    <a href="contact/"><span></span>Help Portal</a>
                  </li>
                  {% endcomment %}
                  <li>
                    <a href="contact/"><span></span>Contact Us</a>
                  </li>
                  <li>
                    <a href="error/"><span></span>Delivery Information</a>
                  </li>
                  <li>
                    <a href="error/"><span></span>Click and Collect</a>
                  </li>
                  {% comment %}
                  <li>
                    <a href="error/"><span></span>Refunds and Returns</a>
                  </li>
                  {% endcomment %}
                </ul>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-duration="1.2s"
              data-wow-delay=".2s"
            >
              {% comment %}
              <div class="footer__item">
                <h4 class="footer-title">Get to Know Us</h4>
                <ul>
                  <li>
                    <a href="about/"><span></span>About Us</a>
                  </li>
                  <li>
                    <a href="blog-grid/"><span></span>News & Blog</a>
                  </li>
                  <li>
                    <a href="error/"><span></span>Careers</a>
                  </li>
                  <li>
                    <a href="error/"><span></span>Investors</a>
                  </li>
                  <li>
                    <a href="contact/"><span></span>Contact Us</a>
                  </li>
                </ul>
              </div>
              {% endcomment %}
            </div>
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-duration="1.3s"
              data-wow-delay=".3s"
            >
              <div class="footer__item">
                <h4 class="footer-title">Gbeke new collections</h4>
                <ul>
                  <li>
                    <a href="shop/"><span></span>Backpack Tote</a>
                  </li>
                  <li>
                    <a href="shop/"><span></span>Tote Bags</a>
                  </li>
                  <li>
                    <a href="shop/"><span></span>Arts</a>
                  </li>
                  <li>
                    <a href="shop/"><span></span>Dual Totebag</a>
                  </li>
                  {% comment %}
                  <li>
                    <a href="shop/"><span></span>Nicotine Salt Devices</a>
                  </li>
                  {% endcomment %}
                </ul>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
              data-wow-duration="1.4s"
              data-wow-delay=".4s"
            >
              <div class="footer__item newsletter">
                <h4 class="footer-title">get newsletter</h4>
                <div class="subscribe">
                  <input type="email" placeholder="Your Email" />
                  <button><i class="fa-solid fa-paper-plane"></i></button>
                </div>
                <div class="social-icon mt-40">
                  <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="#0"><i class="fa-brands fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copy-text pt-50 pb-50">
          <a href="index/" class="logo d-block">
            <img
              src="/static/portal/assets/images/favicons/favicon-96x96.png"
              alt="logo"
            />
          </a>
          <p>
            &copy; Copyright 2023
            <a href="#0" class="primary-hover">Gbeke</a> All Rights Reserved
          </p>
          <a href="#0" class="payment d-block image">
            <img
              src="/static/portal//static/portal/assets/images/icon/payment.png"
              alt="icon"
            />
          </a>
        </div>
      </div>
    </footer>

    <!-- Footer area end here -->

    <!-- Back to top area start here -->
    <div class="scroll-up">
      <svg
        class="scroll-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Back to top area end here -->

    <!-- Jquery 3. 7. 1 Min Js -->
    <script src="/static/portal/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap min Js -->
    <script src="/static/portal/assets/js/bootstrap.min.js"></script>
    <!-- Swiper bundle min Js -->
    <script src="/static/portal/assets/js/swiper-bundle.min.js"></script>
    <!-- Counterup min Js -->
    <script src="/static/portal/assets/js/jquery.counterup.min.js"></script>
    <!-- Wow min Js -->
    <script src="/static/portal/assets/js/wow.min.js"></script>
    <!-- Magnific popup min Js -->
    <script src="/static/portal/assets/js/magnific-popup.min.js"></script>
    <!-- Nice select min Js -->
    <script src="/static/portal/assets/js/nice-select.min.js"></script>
    <!-- Pace min Js -->
    <script src="/static/portal/assets/js/pace.min.js"></script>
    <!-- Isotope pkgd min Js -->
    <script src="/static/portal/assets/js/isotope.pkgd.min.js"></script>
    <!-- Waypoints Js -->
    <script src="/static/portal/assets/js/jquery.waypoints.js"></script>
    <!-- Script Js -->
    <script src="/static/portal/assets/js/script.js"></script>
    <script src="/static/portal/assets/js/customJs.js"></script>
  </body>
</html>
