{% extends 'portal/base.html' %} {% block content %}
<main>
  <!-- Page banner area start here -->

  <!-- Page banner area end here -->
  <br /><br /><br /><br /><br />
  <!-- Login area start here -->
  <section class="login-area pt-130 pb-130">
    <div class="container">
      <div class="login__item">
        <div class="row g-4">
          <div class="col-xxl-8">
            <div class="login__image">
              <img
                src="/static/portal/assets/images/banner/loginnew.jpeg"
                alt="image"
              />
              <div class="btn-wrp">
                <a class="active" href="/login/">sign in</a>
                <a href="/register/">create account</a>
              </div>
            </div>
          </div>
          <div class="col-xxl-4">
            <div class="login__content">
              <h2 class="text-white mb-65">Welcome Back</h2>
              <div class="form-area login__form">
                <form method="POST" action="/login/">
                  {% csrf_token %}
                  <input
                    type="email"
                    name="username"
                    placeholder="Email"
                    required
                  />
                  <input
                    class="mt-30"
                    type="password"
                    name="password"
                    placeholder="Enter Password"
                    required
                  />
                  <button class="mt-30" type="submit">Sign In</button>
                </form>
                <!-- <span class="or pt-30 pb-40">OR</span> -->
              </div>
              <!-- <div class="login__with">
                <a href="#0">
                  <img
                    src="/static/portal/assets/images/icon/google.svg"
                    alt=""
                  />
                  continue with google
                </a>
                <a class="mt-15" href="#0">
                  <img
                    src="/static/portal/assets/images/icon/facebook.svg"
                    alt=""
                  />
                  continue with facebook
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Login area end here -->
</main>

{% endblock content %}
